@{
    ViewData["Title"] = "Авторизація";
    string rowClass = "";
}
@model IEnumerable<Karpaty.ViewModels.BookingTableItem>

<style>
    .container {
        width: 95% !important;
        max-width: 95% !important;
    }
</style>

<div>
    <h2>Перелік бронювань </h2>
    <table class="table" >
        <thead>
            <th scope="col">ПІБ клієнта</th>
            <th scope="col">Телефон</th>
            <th scope="col">E-mail</th>
            <th scope="col">Дата подання</th>
            <th scope="col">Будинок</th>
            <th scope="col">Період проживання</th>
            <th scope="col">Коментар</th>
            <th scope="col">Статус заяви</th>
            <th scope="col">Дії</th>
        </thead>

    @foreach(var item in Model)
    {
            @if (item.StatusId == 0) rowClass = "";
            @if (item.StatusId == 1) rowClass = "table-success";
            @if (item.StatusId == -1) rowClass = "table-secondary";

        <tr class="@rowClass">
            <td>@item.ClientPIB</td>
            <td>@item.ClientPhone</td>
            <td>@item.ClientEmail</td>
            <td>@item.DateCreatedStr</td>
            <td>@item.HouseName</td>
            <td>@item.DateStartStr - @item.DateEndStr</td>
            <td>@item.Comment</td>
            <td>@item.StatusName</td>
            <td>
                    @if(item.StatusId == 0)
                    {
                        <a href='@Url.Action("ChangeStatus")?requestId=@item.RequestId&statusId=1' class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Підтвердити бронювання">
                            <i class="bi bi-check2-circle"></i>
                        </a>
                        <a href='@Url.Action("ChangeStatus")?requestId=@item.RequestId&statusId=-1' class="btn btn-secondary"
                                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Скасувати бронювання">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    }
                    <a href='@Url.Action("DeleteRecord")?requestId=@item.RequestId' class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Видалити бронювання">
                        <i class="bi bi-trash"></i>

                    </a>
            </td>

        </tr>
    }
    </table>
</div>
